body {
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
}

#logo {
    width: 16rem;
    height: 16rem;
    margin: auto;
    margin-top: -2.5rem;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
}

.text-t {
    color: black;
    font-size: 2.5rem;
    display: inline;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #000;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.9375rem;
    font-weight: bold;
    background-color: rgba(241, 241, 241, 0.5);
    text-align: center;
}

.textc {
    text-align: center;
    font-weight: bold;
}

.textcb {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.regras {
    color: black;
    display: inline;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #000;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.9375rem;
    font-weight: bold;
    font-size: 1.125rem;
    background-color: rgba(241, 241, 241, 0.5);
}

.btn {
    cursor: crosshair;
    color: #000;
    padding-top: 10px;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: greenyellow;
    height: 64px;
    width: 25%;
    max-width: 450px;
    border-radius: 0.9375rem;
    transition: box-shadow 0.3s; /* Adiciona transição suave na sombra */
    border: 0.125rem solid #000000; /* Adiciona a borda preta */
}

.playicon {
    height: 2rem;
    width: 2rem;
}

.btn:hover {
    background-color: greenyellow;
    border: 0.125rem solid #000000; /* Adiciona a borda preta */
    cursor: crosshair;
    color: #000;
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
}

* {
    cursor: crosshair;
}
#nickinsert{
    color: black;
    display: inline;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #000;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.9375rem;
    font-weight: bold;
    font-size: 1.125rem;
    background-color: rgba(241, 241, 241, 0.5);
}
#nickinsert input{
    background-color: rgba(241, 241, 241, 0);
    border: 1px black solid;
    border-radius: 5px;
}
#nickinsert::placeholder{
    color: #000;
}
.podiumicon {
    height: 2rem;
    width: 2rem;
}
#btnpodium{
    background-color: #FFCD56;
}
@media screen and (max-width: 768px) {
    .btn{
        width: 200px;
    }}