body {
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 0.9375rem;
    margin-bottom: 1.5625rem;
}

.contp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.form-label-container {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #000;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border-radius: 0.9375rem;
    font-weight: bold;
    background-color: rgba(241, 241, 241, 0.5);
}

.form-check-c,
.form-check-g,
.form-check-h,
.form-check-i,
.form-check-m,
.form-check-p,
.form-check-v {
    flex: 0 0 40%;
    display: flex;
    min-width: 260px;
    align-items: center;
    justify-content: space-between;
    height: 4.6875rem;
    border-radius: 0.9375rem;
    border: 0.125rem solid #000000; /* Adiciona a borda preta */
    color: white;
    font-size: 1.5rem;
    padding: 0.625rem;
    transition: box-shadow 0.3s; /* Adiciona transição suave na sombra */
    font-weight: bold;
}

.form-check-c {
    background-color: #FF6384; /* Rosa */
}

.form-check-g {
    margin-left: 10%;
    background-color: #FFCD56; /* Amarelo */
}

.form-check-h {
    background-color: #36A2EB; /* Azul */
    margin-top: 1.5%;
}

.form-check-i {
    background-color: #4BC0C0; /* Ciano */
    margin-top: 1.5%;
    margin-left: 10%;
}

.form-check-m {
    background-color: #FF9F40; /* Laranja */
    margin-top: 1.5%;
}

.form-check-p {
    background-color: #9966FF; /* Roxo */
    margin-top: 1.5%;
    margin-left: 10%;
}

.form-check-v {
    background-color: #FF6384; /* Rosa */
    margin-top: 1.5%;
}

.form-check-label {
    margin-left: 0.3125rem;
}

.form-check-input {
    margin-left: 0.625rem;
}

.iconem {
    height: 4rem;
    width: 4rem;
}

/* Adiciona sombra quando o mouse passar sobre as divs */
.form-check-c:hover,
.form-check-g:hover,
.form-check-h:hover,
.form-check-i:hover,
.form-check-m:hover,
.form-check-p:hover,
.form-check-v:hover,
.btn:hover {
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
}

.btn {
    cursor: crosshair;
    padding-top: 0.625rem;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: greenyellow;
    height: 64px;
    width: 30%;
    padding-top:10px;
    border-radius: 0.9375rem;
    transition: box-shadow 0.3s; /* Adiciona transição suave na sombra */
    border: 0.125rem solid #000000; /* Adiciona a borda preta */
}

.playicon {
    height: 2rem;
    width: 2rem;
}

.btn:hover {
    background-color: greenyellow;
    border: 0.125rem solid #000000; /* Adiciona a borda preta */
    cursor: crosshair;
    box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
}

* {
    cursor: crosshair;
}
@media screen and (max-width: 768px) {
    .btn{
        width: 200px;
        .container{
            display: block;
        }
    }

.form-check-g{
    margin-top: 5px;
    margin-left: -5px;
}
.form-check-h{
    margin-left:-5px ;
}
.form-check-i{
    margin-left: -5px;
}
.form-check-m{
    margin-left: 0px; 
}
.form-check-p{
    margin-left: 0px;
}
.form-check-v{
    margin-left: 0px;
}}